.text {
    color: #555250;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.5;
    letter-spacing: 1px;
}
.text-justify{
    text-align: justify;
}
/***********************************/
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    height: 44px;
    font-weight: 600;
    padding: 5px 35px;
    font-size: 14px;
    cursor: pointer;
    &.btn-primary {
        background-color: #31B865;
        border-color: #3FD57C;
        color: #fff;
    }
}
/***********************************/
.container{
    margin: 0 auto;
    padding: 0 7.5px;
    @media (min-width: 1200px){
        max-width: 1040px;
    }
    @media (max-width: 600px){
        padding: 0 15px;
    }
}
/***********************************/
.section-padding{
    padding:50px 0;
}
/***********************************/
.section-separator{
    margin: 0 auto;
    border-top:2px solid rgb(85 82 80 / 10%);
    @media (min-width: 1200px){
        max-width: 1040px;
    }
}